<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/waiter_webapp">
    <title>waiter_webapp</title>
  </head>
  <center><body>
    <center><h1>Waiters App</h1></center>
    {{{body}}}
  </body><center>
</html>
