<form action="/waiters/{{name}}" method="post">
<label><input name="workdays" type="checkbox" value="Monday">Monday</label>
<label><input name="workdays" type="checkbox" value="Tuesday">Tuesday</label>
<label><input name="workdays" type="checkbox"value="Wednesday">Wednesday</label>
<label><input name="workdays" type="checkbox"value="Thursday">Thursday</label>
<label><input name="workdays" type="checkbox"value="Friday">Friday</label><br><br>
<label><input type="submit" id="button" value="Submit" name="button"></input></label>
</form><br><br><br>

<div id="display">{{name}}</div>
